# Archivos generados y compilados
*.apk
*.aar
*.aab
*.dex
*.class
bin/
gen/
out/
release/

# Gradle y Cachés de Build
.gradle/
build/
*/build/

# Configuración de máquina local (Ruta del Android SDK, NDK, etc.)
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Claves de firma y credenciales
*.jks
*.keystore
*.key
google-services.json

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
